.field {
  padding-left: 11px;
  padding-right: 12px;
  margin: 8px 0;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Noto Sans KR;
  &__headline {
    margin-left: 16px;
    font-family: Noto Sans KR;
  }

  &__label {
    text-align: center;
  }

  &__validation {
    color: red;
  }
}
