.icon {
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }

  &--lg1 {
    width: 40px;
    height: 40px;
  }
  &--lg2 {
    width: 60px;
    height: 60px;
  }

  &--add {
    content: url(../../assets/icons/Add.svg);
  }

  &--delete {
    content: url(../../assets/icons/Delete.svg);
  }

  &--edit {
    content: url(../../assets/icons/Edit.svg);
  }
  &--dsc {
    content: url(../../assets/icons/SortDesc.svg);
  }
  &--asc {
    content: url(../../assets/icons/SortAsc.svg);
  }
  &--return {
    content: url(../../assets/icons/Return.svg);
  }
}
