@import "../base/typography.scss";

.nav {
  padding-top: 24px;
  width: 100%;
  top: 0;
  left: 0;

  &__link {
    padding-top: 24px;
    padding-bottom: 16px;
    width: 100%;
    display: block;
    color: #0f0f0f;
    text-decoration: none;
    font-family: Rubik;
    padding-left: 50px;
    &:hover {
      color: #878683;
      background-color: #c7c7c7;
    }
  }
}
