.Toastify__toast--success {
  background-color: #8ec98d;
  font-family: Montserrat;
  color: white;
  font-weight: bold;
  text-align: center;
}

.Toastify__toast--error {
  background-color: #c92a2a;
  font-family: Montserrat;
  color: white;
  font-weight: bold;
  text-align: center;
}
