


.modal{

   margin:auto;
   height:25vh;
   background-color:#f2f2f2;
   border: 1px solid;
   border-color: #cccaca;
   padding: 25px;
   width:400px;
   justify-content: center;


&__headline{
    font-family: Rubik;
        text-align: center;
        color:black;
        border:none;
}



&--btn-primary{
    
    background-color: #4CAF50;
    color: white;
    padding:25px;    
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-top: 40px;
    margin-left:40px;
}
&--btn-secondary{
    background-color: #ad150a;    
    color: white;
    padding:25px;    
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 40px;
    margin-right:40px;
}


}








