@import "../base/typography.scss";

.nav{
  
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 90px;
    font-family: Rubik;
    

    &__link{        
      width:300px;   
      display: block;
      color: #0f0f0f;      
      padding: 14px;
      text-decoration: none;
      font-family:Rubik;
      padding-left:50px;
      &:hover {        
        color: #878683;
        background-color: #c7c7c7;

      }

    }

    

}


  

  
  
 